# Car Price Prediction with Machine Learning

The price of a car depends on a lot of factors like the goodwill of the brand of the car, features of the car, horsepower and the mileage it gives and many more. Car price prediction is one of the major research areas in machine learning.

## 1. Problem Definition

> How well can we predict the future sales price of a car, given it's characterisitics and previous examples of how much similar cars have been sold for?

## 2. Data

This data was downloaded from **Kaggle - Car Price Prediction (used car)** <br>
https://www.kaggle.com/datasets/vijayaadithyanvg/car-price-predictionused-cars

## 3. Evaluation

The evaluation metric we will use is Root Squared  Error (RSE) between the predicted prices and the actual prices.

## 4. Features

#### Data Dictionary:

**Car_Name:** Name of the car (object)<br>
**Year:** Year of the car (int64)<br>
**Selling_Price:** Selling price of the car (float64)<br>
**Present_Price:** Present price of the car (float64)<br>
**Driven_kms:** Kilometers driven by the car (int64)<br>
**Fuel_Type:** Type of fuel used by the car (object)<br>
**Selling_type:** Type of selling (object)<br>
**Transmission:** Type of transmission (object)<br>
**Owner:** Number of previous owt6ners (4)
nt64)

In [3]:
# Importing necessary tools

import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline
import seaborn as sns

In [4]:
# Importing data
data = pd.read_csv("data/car data.csv")

In [5]:
data.head()

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB